<header class="header main">
  <div class="level">
    <h3 class="block level-item-left">
      <span class="mdi mdi-monitor-cellphone-star icon"></span>
      <span>nowoczesne techniki programowania aplikacji</span>
    </h3>
  </div>
</header>
<div class="container content is-max-desktop tasks">
    
    <div class="toolbox">
      <div class="level">
        <div class="level-item-left">
          
      <h3 class="list-title">
        <span class="mdi mdi-format-list-bulleted-square icon"></span>
          <span>twoja lista zadań:</span>
      </h3>
        </div>
        <div class="level-item-right list-actions">         
          <app-add-button class="block" (click)="emptyTodo()"></app-add-button>
        </div>
      </div>
    </div>
    <div
      class="columns todos-list is-centered is-variable is-8 is-multiline"
      *ngIf="todos.length"
    >
      <app-todo-card
        class="column is-12"
        *ngFor="let el of todos.reverse() | todosFilter: filter"
        (deleted)="onDel($event)"
        (complition)="toggleStatus($event)"
        (newTodo)="addTodo($event)"
        [todo]="el"
      ></app-todo-card>
    </div>

    <div class="info hero is-halfheight" *ngIf="!todos.length">
      <app-info class="hero-body level"></app-info>
    </div>
  </div>
